### Java
*.class
*.jar
*.war
*.ear
target/
out/
bin/
.classpath
.project
.settings/
.idea/
*.iml
.vscode/
logs/
*.log

# OS files
Thumbs.db
.DS_Store

# Gradle
/.gradle
build/

# Maven
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
